/* CSS styles */
body {
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

.chat-container {
    max-width: 750px;
    width: 90%;
    height: 75vh;
    padding: 10px;
    background-color: #87CEEB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

#chat-form {
    display: flex;
}
